<h2>Tambah Provinsi Baru</h2>

<form method="POST" action="/admin/province/add_process">
	nama: <input type="text" name="name" value="" /> <br/>
	deskripsi: <input type="text" name="description" value="" /> <br/>
	<input type="submit" value="Submit" />
</form>